<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>${typeof title === 'undefined' ? '' : $(title)+' - '}${config.title}</title>
	<meta property="og:title" content="${typeof title === 'undefined' ? '' : $(title)+' - '}${config.title}">

	<link rel="stylesheet" href="/css/main.css">
	${(typeof styles === 'undefined' ? [] : styles).map(name => `
		<link rel="stylesheet" href="/css/${name}.css">
	`).join('')}
</head>
<body>
	${content}
	<script src="/js/main.js"></script>
	${(typeof scripts === 'undefined' ? [] : scripts).map(name => `
		<script src="/js/${name}.js"></script>
	`).join('')}
</body>
</html>